# Database
DATABASE_URL=

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:3001

# Payment Processing (cuando sea necesario)
# NEXT_PUBLIC_STRIPE_KEY=

# Analytics (cuando sea necesario)
# NEXT_PUBLIC_ANALYTICS_ID=
